@model DbSachOnline.EF.KhachHang
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/NguoiDung/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pr-wrap">
                    <div class="pass-reset">
                        <label>
                            Enter the email you signed up with
                        </label>
                        <input type="email" placeholder="Email" />
                        <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                    </div>
                </div>
                <div class="wrap">
                    <p class="form-title">
                        Đăng nhập
                    </p>

                    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login" }))
                    {
                        @Html.ValidationSummary(false, "", "Error")
                        @Html.TextBoxFor(n => n.TaiKhoan, new { @placeholder = "Tài khoản" })
                        @Html.PasswordFor(n => n.MatKhau, new { @placeholder = "Mật khẩu" })
                        <input type="submit" value="Đăng nhập" class="btn btn-success btn-sm" />
                        <div class="remember-forgot">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" />
                                            Ghi nhớ
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 forgot-pass-content">
                                    <a href="javascription:void(0)" class="forgot-pass">Quên mật khẩu</a>
                                    <a href="/LoginKH/Signup" >Chưa có tài khoản</a>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/NguoiDung/Login.js"></script>
</body>
</html>